@media screen and (max-width:768px) {
    .hero-info {
        margin-top: 70px;
    }

    .goal-image {
        width: 100%;
        right: 0;
    }

    .left-navigation {
        display: none !important;
    }
}

@media screen and (max-width:500px) {
    .main-heading {
        font-size: 25px;
    }

    .contact-form {
        padding: 50px 20px;
    }

    .follow-section .social-link {
        font-size: 25px;
    }

    .review-card {
        min-height: 270px;
    }
}

@media screen and (max-width:880px) {
    .navigation-item span {
        font-size: 14px;
    }

    .navigation-item i {
        font-size: 20px;
    }

    .logout-btn {
        padding: 8px 25px;
    }
}